<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- JQUERY   -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    

    <script type="text/javascript">
//<!-- ADD / REMOVE SURVEY ROWS-->        
        $(document).ready(function(){
            function populateSurveys() {
                let surveys = localStorage.getItem('surveys');
                
                if (!surveys) return;
                
                surveys = JSON.parse(surveys);
                
                let addSurvey = "" ;
                
                for (let i in surveys){
                    addSurvey += (`
                        <tr data-index="${i}">
                            <td>${surveys[i].name}</td>
                            <td>${surveys[i].date}</td>
                            
                            <td class="btn btn-default actionButton" onclick="location.href='viewsurvey.html';"> View Questionaire </td>

                            <td><input type="checkbox" name="record"></td>
                        </tr>
                    `);
                };
                
                $("#surveyTable > tbody").append(addSurvey);
            };
            
            populateSurveys();
                
//             Find and remove selected table rows
            $(".delete-row").click(function(){
                $("#surveyTable > tbody input[name=record]").each(function(){
                    if($(this).is(":checked")){
                        
                        
                        let $row = $(this).closest("tr");
                        let index = parseInt($row.attr("data-index"));
                        let surveys = JSON.parse(localStorage.getItem('surveys'));
                        
                        surveys.splice(index, 1);

                        localStorage.setItem('surveys', JSON.stringify(surveys));
                        
                        $row.remove();
                        
                    }
                });
            });
            
            $(".clear-all").click(function(){
        
                localStorage.clear();

            });
        }); 
        

    </script>
</head>
<body>
<div class="row">
    <div class="col-lg-12 text-center">
            <h1>HHS Backyardigans Questionaire Pro</h1>
            <p>An Experience Unmatched</p>
    </div>
    
    
    <div class="col-lg-12 text-center">
        <h3>Create a Questionaire:</h3>
        <a href="newsurvey.html" class="clear-all ladda-button ladda-button-demo btn btn-primary btn-lg" role="button" data-style="zoom-in"><span class="ladda-label">Click Here!</span><span class="ladda-spinner"></span></a>
<!--        <a href="newexam.html" class="ladda-button ladda-button-demo btn btn-primary btn-lg" role="button" data-style="zoom-in"><span class="ladda-label">Exam</span><span class="ladda-spinner"></span></a>-->
    </div>
    
    <br>
    <br>
    <br>
    <hr style="width:100%">
    
    <div class="container">
        <div class="col-lg-12 row text-left">
            <h3 class="text-left">Your Questionaires:</h3>
            <table class="table table-hover" id="surveyTable">
                <thead>
                    <tr>
                        <th>Questionaire Name</th>
                        <th>Type</th>
                        <th></th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cool Survey #1</td>
                        <td>Survey</td>

                        <td class="btn btn-default actionButton" href="viewsurvey.html" disabled> View Questionaire </td>
                        
<!-- FOR FUTURE FEATURES-->
<!--
                        <td class="btn btn-default actionButton" style="margin-right: 90px"> Take </td>
                        <td class="btn btn-default actionButton" style="margin-right: 90px"> Results </td>
                        <td class="btn btn-default actionButton"> Edit </td>
-->
                        
                        <td>Example</td>
                    </tr>
                </tbody>
            </table>
            
            <a class='delete-row btn btn-default actionButton' role="button" data-style="zoom-in" style="float:right"><span class="ladda-label">Delete Row</span><span class="ladda-spinner"></span></a>
        
        </div>
        
 
<!-- DIV FOR FUTURE SURVEY / EXAM SEPARATION-->
<!--
        <div class="col-lg-12 row text-left">
            <h3 class="text-left">Exams</h3>
            <table class="table table-hover" id="examTable">
                <thead>
                    <tr>
                        <th>Exam Name</th>
                        <th>Date Created</th>
                        <th></th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bad Exam #1</td>
                        <td>2/23/17</td>

                        <td class="btn btn-default actionButton" style="margin-right: 90px"> Take </td>
                        <td class="btn btn-default actionButton" style="margin-right: 90px"> Results </td>
                        <td class="btn btn-default actionButton"> Edit </td>
                        
                        <td>Example</td>
                    </tr>
                </tbody>
            </table>
            
            <a class='delete-row btn btn-default actionButton' role="button" data-style="zoom-in" style="float:right"><span class="ladda-label">Delete Row</span><span class="ladda-spinner"></span></a>

        </div>
-->
    </div>
</div>
</body>
</html>