<html> 
<head> 
    <title>Page Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- JQUERY   -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
</head>
<body>
    <div class="col-lg-12 text-center">
            <h1>HHS Backyardigans Questionaire Pro</h1>
            <p>An Experience Unmatched</p>
    </div>
    
    <div class="col-lg-12 text-center">
        <h2>New Survey</h2>
    </div>
    
    <form id="myForm"> 
<!--        <div class="col-lg-2"></div>-->
        <div class="col-lg-8 col-lg-offset-2 form-group">
            <label>Survey Name: </label>
            <input class="form-control" type="text" name="name" id="surveyName">
            
            <br>
            <br>
            <br>
            
            <div>
                <label for="exampleSelect1">Add New Question:</label>
                <a href="multiplechoiceSurvey.html" class='btn btn-default actionButton' type="submit" role="button" data-style="zoom-in" style="margin-right: 20px"><span class="ladda-label">Add Multiple Choice</span><span class="ladda-spinner"></span></a>
                <a href="SawyerTFSurvey.html" class='btn btn-default actionButton' type="submit" role="button" data-style="zoom-in" style="margin-right: 20px"><span class="ladda-label">Add True or False</span><span class="ladda-spinner"></span></a>
                <a href="SawyerRankingSurvey.html" class='btn btn-default actionButton' type="submit" role="button" data-style="zoom-in" style="margin-right: 20px"><span class="ladda-label">Add Ranking</span><span class="ladda-spinner"></span></a>
               
                <a href="SawyerShortAnswerSurvey.html" class='btn btn-default actionButton' type="submit" role="button" data-style="zoom-in" style="margin-right: 20px"><span class="ladda-label">Add Short Answer</span><span class="ladda-spinner"></span></a>
                <a href="SawyerEssaySurvey.html" class='btn btn-default actionButton' type="submit" role="button" data-style="zoom-in" style="margin-right: 20px"><span class="ladda-label">Add Essay</span><span class="ladda-spinner"></span></a>
            </div>
            
            <br>
            <br>
            
        </div>
        
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3 class="text-left">Questions</h3>
            <table class="table table-hover" id="questionTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Question Text</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Multiple Choice</td>
                        <td>How many things in a thing?</td>
                        <td>A. One Thing <br>
                            B. Two Things <br>
                            C. Three Things <br>
                            D. Four Things</td>
                        
                        <td>Example</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-lg-8 col-lg-offset-2">
            <input class='btn btn-default actionButton' type="submit" value="Save" />

            <a href="home.html" class='btn btn-default actionButton' role="button" data-style="zoom-in"><span class="ladda-label">Return to Home</span><span class="ladda-spinner"></span></a>
          <a class='delete-row btn btn-default actionButton' role="button" data-style="zoom-in" style="float:right"><span class="ladda-label">Delete Row</span><span class="ladda-spinner"></span></a>
          
          
        </div> 
    </form>
</body>
    <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDt1Xq5hITwmYYiW_8fuojo6I92RRQweIE",
        authDomain: "questionnaire-a985e.firebaseapp.com",
        databaseURL: "https://questionnaire-a985e.firebaseio.com",
        projectId: "questionnaire-a985e",
        storageBucket: "questionnaire-a985e.appspot.com",
        messagingSenderId: "403228443968"
      };
      firebase.initializeApp(config);
    </script>
    
    <script src="newsurvey.js"></script>
</html>