<html>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- JQUERY   -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    <body>
    
        
    <script type='text/javascript'>
        $(document).ready(function(){
            
        $('#Essay_radio').on("click", function(){
        $('#SA').hide();
        $('#MC').hide();
        $('#TF').hide();
        $('#Essay').show();
        })
        
        $('#SA_radio').on('click', function(){
        $("#Essay").hide();
        $("#MC").hide();
        $("#TF").hide();
        $("#SA").show();
        })
        
        $("#TF_radio").on("click", function(){
        $("#Essay").hide();
        $("#SA").hide();
        $("#MC").hide();
        $("#TF").show();
        })
        
        $("#MC_radio").on("click", function(){
        $("#Essay").hide();
        $("#SA").hide();
        $("#TF").hide();
        $("#MC").show();
        })
        })
    </script>
    
    <form>
    <input type="radio"  id ="Essay_radio" name = "type">Essay<br>
    <input type="radio" id ="SA_radio" name = "type">Short Answer<br>
    <input type="radio" id ="TF_radio" name = "type">True/False<br>
    <input type="radio" id ="MC_radio" name = "type">Multiple Choice        
    </form>
    
    <form id="Essay"> 
            <div class="col-lg-10 col-lg-offset-1 form-group">
                <label>Question: </label>
                <input type="surveyname" class="form-control" id="examplesurveyname" placeholder="Enter Question">

                <br>

              <textarea name="moreinfo" cols="70" rows="30" required="required" maxlength="none"></textarea>

            </div>

                <br>
            <div class="col-lg-8 col-lg-offset-2">
                <input class='btn btn-default actionButton' type="submit" value="Save" />

                <a href="newsurvey.html" class='btn btn-default actionButton' role="button" data-style="zoom-in"><span class="ladda-label">Return to Survey</span><span class="ladda-spinner"></span></a>
            </div> 
    </form>

        
    <form id="MC"> 
        <div class="col-lg-10 col-lg-offset-1 form-group">
            <label>Question: </label>
            <input type="surveyname" class="form-control" id="examplesurveyname" placeholder="Enter Question">
            
            <br>

        <input type="text" name="usrname" maxlength="25"><br>
        </div>

            <br>
            
        <div class="col-lg-8 col-lg-offset-2">
            <input class='btn btn-default actionButton' type="submit" value="Save" />

            <a href="newsurvey.html" class='btn btn-default actionButton' role="button" data-style="zoom-in"><span class="ladda-label">Return to Survey</span><span class="ladda-spinner"></span></a>
        </div> 
    </form>

        
    <form id="SA"> 
        <div class="col-lg-10 col-lg-offset-1 form-group">
            <label>Question: </label>
            <input type="surveyname" class="form-control" id="examplesurveyname" placeholder="Enter Question">
            
            <br>
          
          <input type="radio" name="Rating" value="1"> 1 
          <input type="radio" name="Rating" value="2"> 2
          <input type="radio" name="Rating" value="3"> 3
          <input type="radio" name="Rating" value="4"> 4
          <input type="radio" name="Rating" value="5"> 5
        </div>

            <br>  
        
        <div class="col-lg-8 col-lg-offset-2">
            <input class='btn btn-default actionButton' type="submit" value="Save" />

        </div> 
    </form>


    <form id = "TF"> 
            <div class="col-lg-10 col-lg-offset-1 form-group">
                <label>Question: </label>
                <input type="surveyname" class="form-control" id="examplesurveyname" placeholder="Enter Question">

                <br>

                <input type="radio" name="TrueFalse" value="true"> True
                <input type="radio" name="TrueFalse" value="false"> False
            </div>

                <br>

            <div class="col-lg-8 col-lg-offset-2">
                <input class='btn btn-default actionButton' type="submit" value="Save" />

                <a href="newsurvey.html" class='btn btn-default actionButton' role="button" data-style="zoom-in"><span class="ladda-label">Return to Survey</span><span class="ladda-spinner"></span></a>
            </div> 
    </form>    
    </body>
</html>