<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
  <div class = "container">
    <br>
    <form action = "" class = "form-inline" method = "post">

      <input type = "text" class = "form-control" name "question" value = "{{request.form.question}}">
      <br>
      <input type = "text" class = "form-control" name "response" value = "{{request.form.response}}">
      <br>
      <a href = "/" <input class = "btn btn-default" type = "submit" value = "Save and quit">Save and quit</a>
    </form>
  </div>


</html>
