<html> 
<head> 
    <title>Survey: Ranking</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- JQUERY   -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
 
    <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDt1Xq5hITwmYYiW_8fuojo6I92RRQweIE",
        authDomain: "questionnaire-a985e.firebaseapp.com",
        databaseURL: "https://questionnaire-a985e.firebaseio.com",
        projectId: "questionnaire-a985e",
        storageBucket: "questionnaire-a985e.appspot.com",
        messagingSenderId: "403228443968"
      };
      firebase.initializeApp(config);
    </script> 
    <script> 
    //STORING QUESTION DETAILS
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#myForm').on("submit", function(getRankingData) { 
                getRankingData.preventDefault();
                var rankingData = {
                    questionText: $('#rankingQuestion').val(),
                    questionType: "Ranking"
  
                };
                console.log(rankingData);
                
                var options = [];
                options.push(
                    $('#option1').val(), 
                    $('#option2').val(), 
                    $('#option3').val(), 
                    $('#option4').val(), 
                    $('#option5').val()
                );
                console.log(options);
                rankingData.options = options;
                
                var rank = [];
                rank.push(
                    $('#rank1').val(), 
                    $('#rank2').val(), 
                    $('#rank3').val(), 
                    $('#rank4').val(), 
                    $('#rank5').val()
                );
                console.log(rank);
                rankingData.rank = rank;
                
                var newRanking = localStorage.getItem('ranking');
                if (newRanking === null){
                    newRanking = [];
                }
                else{
                    newRanking = JSON.parse(newRanking);
                }
                newRanking.push(rankingData);
                
                localStorage.setItem('ranking', JSON.stringify(newRanking));
                var rankingquestions = JSON.parse(localStorage.getItem('ranking'));
                var ref = firebase.database().ref();
                var key = JSON.parse(localStorage.getItem('key'));

                rankQ = ref.child('/Survey/' + key).child('Questions').push(rankingquestions);
            }); 
        });
    </script> 
</head>
<body>
    <div class="col-lg-12 text-center">
            <h1>HHS Backyardigans Questionaire Pro</h1>
            <p>An Experience Unmatched</p>
    </div>
    
    <div class="col-lg-12 text-center">
        <h2>New Ranking Question</h2>
    </div>
    
    <form id="myForm"> 
        <div class="form-group">
            <label>Question: </label>
            <input type="text" class="form-control" name="questionText" id="rankingQuestion" placeholder="Enter Question">
            
        <br>
        
        <div class="text-center">
            <table class="table table-hover" id="questionTable">
                <thead>
                    <tr>
                        <th>Options</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <div class="row">
                <label for="example-text-input" class="col-lg-2 col-form-label">Option 1</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="option1" id="option1">
                </div>
            </div>
                      </td>
                        <td>
                          <select name="Rank1" id="rank1">
                            <option value="" selected disabled>No Rank</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                    </tr>
                  <tr>
                        <td>
            <div class="row">
                <label for="example-text-input" class="col-lg-2 col-form-label">Option 2</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="option2" id="option2">
                </div>
            </div>
                        </td>
                        <td>
                          <select name="Rank2" id="rank2">
                            <option value="" selected disabled>No Rank</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                    </tr>
                  <tr>
                        <td>
            <div class="row">
                <label for="example-text-input" class="col-lg-2 col-form-label">Option 3</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="option3" id="option3">
                </div>
            </div>
                        </td>
                        <td>
                          <select name="Rank3" id="rank3">
                            <option value="" selected disabled>No Rank</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                    </tr>
                        <tr>
                        <td>
            <div class="row">
                <label for="example-text-input" class="col-lg-2 col-form-label">Option 4</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="option4" id="option4">
                </div>
            </div>
                        </td>
                        <td>
                          <select name="Rank4" id="rank4">
                            <option value="" selected disabled>No Rank</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                    </tr>
                        <tr>
                        <td>
            <div class="row">
                <label for="example-text-input" class="col-lg-2 col-form-label">Option 5</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="option5" id="option5">
                </div>
            </div>
                        </td>
                        <td>
                          <select name="Rank5" id="rank5">
                            <option value="" selected disabled>No Rank</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
          <br>
        </div>
        
        <div class="col-lg-8 col-lg-offset-2">
            <input class='btn btn-default actionButton' type="submit" value="Save" />

          
            <a href="newsurvey.html" class='btn btn-default actionButton' role="button" data-style="zoom-in"><span class="ladda-label">Return to Questionaire</span><span class="ladda-spinner"></span></a>

        </div>
    </form>
</body>
</html>