<html> 
<head> 
    <title>Exam: True or False</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- JQUERY   -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
 
    
    <script>  
    //STORING QUESTION DETAILS
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#myForm').on("submit", function(getTFData) { 
                getTFData.preventDefault();
                var tfData = {
                    questionText: $('#questionText').val(),
                    option1: "True",
                    option2: "False"
                  
                    correct: $('#correct').val()
                };
                console.log(tfData);
                
                var options = [];
                options.push( $('#option1').val(), $('#option2').val());
                
                console.log(options);
                tfData.options = options;
                
                
                var newTF = localStorage.getItem('trueFalse');
                if (newTF === null){
                    newTF = [];
                }
                else{
                    newTF = JSON.parse(newTF);
                }
                newTF.push(tfData);
                
                localStorage.setItem('trueFalse', JSON.stringify(newTF));
            }); 
        });
    </script> 
</head>
<body>
    <div class="col-lg-12 text-center">
            <h1>HHS Backyardigans Questionaire Pro</h1>
            <p>An Experience Unmatched</p>
    </div>
    
    <div class="col-lg-12 text-center">
        <h2>New True or False Question</h2>
    </div>
    
    <form id="myForm"> 
        <div class="col-lg-10 col-lg-offset-1 form-group">
            <label>Statement: </label>
            <input class="form-control" type="text" name="questionText" id="questionText" placeholder="Enter Prompt">
            
            <br>
            
<!--
            <label class="col-lg-12 col-form-label" name="option1"  id="option1" value="True">Option 1:  True </label>
            <label class="col-lg-12 col-form-label" name="option2"  id="option2" value="False">Option 2: False </label>
-->
            
<!--    To be used for taking the exam      -->
            <h4>Options:</h4>
            <label>- True</label>
            <br>
            <label>- False</label>

      
            <br> 
            <br>
            <br>
  
      <div class="row">
    
                <label for="example-text-input" class="col-lg-2 col-form-label">Select Correct Answer: </label>
                <div class="col-lg-9">
                    <select class="form-control" type="text" name="correct" id="correct" placeholder="Please type in the correct answer text">
                        <option value="True">True</option>
                        <option value="False">False</option>
                        
                    </select>
                </div>
            </div>
        </br>
      </div>
        <div class="col-lg-8 col-lg-offset-2">
            <input class='btn btn-default actionButton' type="submit" value="Save" />

            <a href="newexam.html" class='btn btn-default actionButton' role="button" data-style="zoom-in"><span class="ladda-label">Return to Questionaire</span><span class="ladda-spinner"></span></a>

        </div> 
    </form>
</body>
</html>